
<link rel="stylesheet" href="/css/sign_in.css">
<div class="s-container">
    <h2>Add interview</h2>
    <form action="/interview/addInterview" method="post">
        <label for="company">Company</label>
        <input type="text" name="company_name" placeholder="Add A Company Name" id="company" required>
        <label for="da">Date</label>
        <input type="date" name="date" id="da">
        <button type="submit">Add Company</button>
    </form>
</div>
