<link rel="stylesheet" href="/css/sign_in.css">
<div class="s-container">
    <form action="/user/Create" method="post" >
        <input type="text" name="name" placeholder="Enter Name">
        <input type="email" name="email" placeholder="Enter Your Email">
        <input type="password" name="password" placeholder="Enter Your Password">
        <input type="password" name="conferm_password" placeholder="Enter Your Password">
        <button type="submit">Creat-Account</button>
    </form>
    <p>Have and Account: <a href="/user/sign-in">Click Here</a></p>
</div>