<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement-cell</title>
    <%- style %>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
    <%- include('_heater')%>

    <main class="main-container">

        <%-body%>

    </main>
    <% -script %>
</body>
</html>